.list {
	list-style: none;
}

.dl--inline {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-column-gap: .5rem;

	margin: 0;
	padding: 0;

	& dt {
		grid-column: 1 / 2;
	}

	& dd {
		grid-column: 2 / 3;
	}
}
